body{
    /* background-color: rgb(25, 35, 55); */
    background-color: rgb(23,25,35);
    color: white;
    max-width: 600px;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    
}
a{
    color: wheat;
}
p{
    line-height: 1.5;
}

article + article {
    margin-top: 3rem;
}

